streamlit
streamlit-autorefresh
pandas
numpy
scipy
requests
aiohttp
protobuf
blackboxprotobuf
scikit-learn
xgboost
lightgbm
selenium
webdriver-manager
python-dateutil
joblib
Pillow
opencv-python-headless
pytesseract
rapidfuzz
plotly